/*RESET STYLESHEET*/
@import "modern-normalize";

:root {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

input, button, textarea, select {
  font: inherit;
  font-size: 100%;
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F9DB6D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

button {
  font-size: 18pt;
  color: #F4EDED;
  background-color: #36827F;
  border-radius: 16px;
  margin-bottom: 6px;
}

input {
  -webkit-appearance: none;
  text-align: center;
  border-radius: 16px;
  border: none;
  margin-top: 32px;
}

.name-input {
  font-size: 14pt;
  width: 200px;
}

:disabled {
  background-color: #464D77;
  color: #877666;
}

.game-area {
  height: 98vh;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.display-area {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.player-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
  text-align: center;
}

.player {
  width: 150px;
  background-color: #F4EDED;
  padding: 0 10px 0 10px;
  border: solid #877666 4px;
  border-radius: 16px;
}

.player-name {
  font-size: 25pt;
  margin-top: 10px;
}

.center-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

.text-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24pt;
  background-color: #F4EDED;
  height: 45px;
  width: 400px;
  border: solid #877666 6px;
  border-radius: 4px;
  margin-top: 20px;
  padding: 0;
}

.outer-board {
  background-color: #36827F;
  height: 80%;
  width: 80%;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 95%;
  height: 95%;
  background-color: #464D77;
  border-radius: 20px;
}

.board-space {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F4EDED;
  font-size: 80pt;
  text-align: center;
  padding: 0;
  margin: 0;
}

.board-space svg {
  width: 100px;  /* Set the desired width */
  height: 100px; /* Set the desired height */
}


.grid-line {
  background-color: #877666;
  position: absolute;
  border-radius: 10px;
}

.v-1, .v-2 {
  height: 85%;
  width: 15px;
}

.h-1, .h-2 {
  height: 15px;
  width: 85%;
}

.v-1 { 
  left: 33.3%;
  transform: translateX(-33.3%);
}

.v-2 { 
  left: 66.6%;
  transform: translateX(-66.6%);
}

.h-1 { 
  top: 33.3%;
  transform: translateY(-33.3%);
}

.h-2 { 
  top: 66.6%;
  transform: translateY(-66.6%);
}

.active-player {
  background-color: #36827F;
  color: #F4EDED;
}